<ul class="content">
  <% play_lists.each do |play_list| %>
  <li class="each-content d-flex p-2">
     <div class="image"><%= attachment_image_tag play_list, :play_list_image, size: "50x50", fallback: "no-image.jpg" %></div>
     <div><p class="right"><%= play_list.title %></p></div>
   </li>
  <% end %>
</ul>