<div class="container">
  <div class="row bg-white rounded pt-3 p-3">
    <h3>月別新規登録者数</h3>
    <%= column_chart User.group_by_month(:created_at).count %>
    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
  </div>
  <div class="row bg-white pt-3 p-3">
  <h3>月別新規プレイリスト投稿数</h3>
    <%= column_chart PlayList.group_by_month(:created_at).count %>
  </div>
  <%= link_to "csvで出力する", admin_management_path(format: :csv), class: "d-flex justify-content-center btn btn-success mt-5 mx-5" %>
</div>