<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @contact.name %>様より</h1>
    <h1><%= @contact.message %></h1>

  </body>
</html>