<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    今週のレポート
    新規登録ユーザ数
    <h1><%= @users.count %>ユーザ</h1>
    新規プレイリスト投稿数
    <h1><%= @play_lists.count %>プレイリスト</h1>
  </body>
</html>