<div class="card" style="width: 18rem;">
  <div class="card-header text-align-center">設定</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/mypages/profile">プロフィール編集</a></li>
    <li class="list-group-item"><a href="/mypages/account">アカウント情報</a></li>
    <li class="list-group-item"><a href="/mypages/social">ソーシャル連携</a></li>
    <li class="list-group-item"><a href="/users/edit">メールアドレス・パスワード変更</a></li>
  </ul>
<div class="card-header">musicrowsについて</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="/contacts/new">お問い合わせ</a></li>
</ul>
</div>