<div class="container">
  <div class="row mt-5">
    <div class="col-4 d-flex justify-content-center">
      <%= render 'mypages/edit_left' %>
    </div>
    <div class="col-7 bg-white">
      
    </div>
  </div>
</div>