<div class="container">
  <div class="row d-flex justify-content-center before_signin">
    <div class="col-8 p-5 rounded bg-white">
    <div class="border-bottom my-3 pb-3"><h1 class="d-flex justify-content-center">ログイン</h1></div>
    <div class="row btns">
      <div class="registration email mt-4">
        <div class="btn-email"><%= link_to 'メールアドレスでログイン', new_user_session_path, class: "btn" %></div>
      </div>
      <div class="registration twitter mt-4">
        <div class="btn-twitter"><i class="fab fa-twitter"></i><%= link_to 'Twitterでログイン', user_twitter_omniauth_authorize_path, method: :post, class: "btn" %></div>
      </div>
      <div class="registration google mt-4">
        <div class="btn-google"><i class="fab fa-google"></i><%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn" %></div>
      </div>
    </div>
  </div>
  </div>
</div>
