<div class="container mt-5">
  <div class="row bg-white">
    <div class="fukidashi">
    <div id="messages" class="chatting" data-room_id="<%= @room.id %>">
      <%= render @messages %>
    </div>
    </div>
    <form class="input-form" id="send-form">
      <label>Say something:</label><br>
      <input type="text" id="sentence" data-behavior="room_speaker">
      <input type="hidden" id="room_id send" name="room_id" value="<%= @room.id %>">
    </form>
  </div>
</div>


