// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.before_signin {
  .btns {
    .registration {
      display: block;
      justify-content: center;
      text-align: center;
      width: 60%;
      margin-top: 15px;
      line-height: 48px;
      font-size: 14px;
      margin: auto;
      .btn-email {
        border: 2px solid #08204f;
      }
      .btn-twitter {
        border: 2px solid rgb(29, 161, 242);
      }
      .btn-google {
        border: 2px solid transparent;
        border-image: url('google-image2.png');
        border-image-slice: 2;
        border-image-repeat: stretch;
        // border-image: linear-gradient(to right bottom,
        // #4285f4, #34a853, #fbbc05, #ea4335)
        // 1 / 1 / 0;
      }
    }
  }
}

.before_signup {
  .btns {
    .registration {
      display: block;
      justify-content: center;
      text-align: center;
      width: 60%;
      margin-top: 15px;
      line-height: 48px;
      font-size: 14px;
      margin: auto;
      .btn-email {
        border: 2px solid #08204f;
      }
      .btn-twitter {
        border: 2px solid rgb(29, 161, 242);
      }
      .btn-google {
        border: 2px solid transparent;
        border-image: url('google-image2.png');
        border-image-slice: 2;
        border-image-repeat: stretch;
        // border-image: linear-gradient(to right bottom,
        // #4285f4, #34a853, #fbbc05, #ea4335)
        // 1 / 1 / 0;
      }
    }
  }
}
.not_show {
  background-image: none;
}


.top-content {
  .top-page {
  z-index: 1;
}

.top-image {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(music-top.jpg);
  background-size: cover;
  z-index: 1;
}

.top-text {
  justify-content: center;
  text-align: center;
  padding: 350px 0;
  color: white;
  .top-text-musicrows {
  font-size: 30px;
  font-weight: bold;
  }
  .top-text-comment {

  }
}

.search-div {
  padding: 20px 40px;
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translateX(-50%);
  .search-input {
    width: 500px;
    height: 60px;
    font-size: 20px;
    border-radius:2px;
    outline:0;
    background:#eee;
    position:relative;
  }
  .sbtn2{
    height: 50px;
    position: absolute;
    left: 88%;
    top: 20%;
    background: none;
    color: #666;
    border: none;
    font-size: 20px;
  }
}
}

.middle-content {
  .inner-content {
  padding: 10px;
  margin: 10px;
}

.section-title {
  font-size: 28px;
  color: #0b80a1;
  font-weight: bold;
  padding-top: 100px;
}

.slider-content{
 display: flex;
 justify-content: center;
 text-align: center;
 z-index: 1;
}

.slider-content:hover {
  spacity: 0.6;
  filter: brightness(50%);
  transition: all .3s;
}

.slider-content-image {
  border-radius: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
}

.slider-content-title {
  color: white;
  font-size: 14px;
}

.search-images {
  .search-image {
    display: flex;
  }
}

}


@media screen and (max-width: 640px) {
  .top-image {
    background: url(music_responsive.png);
    background-size: cover;
    background-position: right 10% bottom 10%;
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
  }
  .search-div {
  top: 45%;
  left: 50%;
  }
}