// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// users#show
.show_left {
  .show_top {
  display: flex;
  .show_top_left {
    width: 60%;
    .name_created_at {
      display: flex;
      text-align: center;
      .user_name {
        font-size: 20px;
        margin-right: 10px;
      }
      .created_at {
        margin-top: 5px;
        font-size: 12px;
        color: grey;
      }
    }
    .play_list_title {
      font-weight: bold;
    }
    .play_list_tags {
      .badge {
        margin: 10px;
      }
    }
    .play_list_body {
      padding-top: 4px;
    }
    .song_list {
      padding-left: 10%;
      padding-top: 10px;
      .song {
        padding-left: 50px;
        margin_bottom: 10px;
      }
    }
  }
  .show_top_right{
    width: 40%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

  .show_middle {
    .play_list_content {
      .song_name_artist {
        font-weight: bold;
      }
    }
  }

  .show_bottom {
    .comment-field {

    }
  }
  }


.comment-content {
        display: flex;
        .comment-left {
        }
        .comment-right {
          padding-top: 5px;
          .top {

          }
          .bottom {
            font-size: 12px;
            color: grey;
          }
        }
}

.show_right {
  justify-content: center;
  .recommend {
    margin-bottom: 10px;
      .title {
        .each-content {
          display: flex;
          justify-content: center;
          .image{
            display: flex;
            text-align: center;
          }
          .right {
            margin-left: 5px;
          }
        }
      }
  }
}

// mypage#
.my-page-wrapper {
  display: flex;
  justify-content: center;
  .my-page-left {
    width: 30%;

  }
  .my-page-right {
    width: 70%;
    margin-left: 50px;
  }
}

@media screen and (max-width: 640px) {
  .my-page-wrapper {
  display: block;
  justify-content: center;
  text-align: center;
    .my-page-left {
    width: 100%;
  }
  .my-page-right {
    width: 100%;
    margin: initial;
  }
}
}

